# Project exclude paths
/.gradle/
/Seam Carving/task/build/
/Topics/For loop and lists/Number in a set/out/
/Topics/For loop and lists/Number in a set/out/production/classes/
/Topics/Ranges/Between two numbers/out/
/Topics/Ranges/Between two numbers/out/production/classes/
/Topics/Repeating blocks/Counting positive numbers/out/
/Topics/Repeating blocks/Counting positive numbers/out/production/classes/
/Topics/Standard output/Print a triangle/out/
/Topics/Standard output/Print a triangle/out/production/classes/
/Topics/While loops/The length of the sequence/out/
/Topics/While loops/The length of the sequence/out/production/classes/